
*.log

*.aux

grid_uso_deterministic_algorithm.pdf

*.gz

grid_uso_deterministic_algorithm.blg

grid_uso_journal.pdf

grid_uso_journal.bbl

grid_uso_journal.blg

grid_uso_journal.out

grid_uso_ipco.bbl

grid_uso_ipco.blg

grid_uso_ipco.out

grid_uso_ipco.pdf
